# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Environments
.env
.venv
env/
ml/

# Conda
*.conda

# Jupyter
.ipynb_checkpoints/

# Logs
logs/

# Artifacts
artifacts/

# HuggingFace cache
.cache/

# ML artifacts
artifacts/
*.faiss
*.bin
*.pt
*.ckpt

# datasets
data/
datasets/

# colab
.ipynb_checkpoints/